/* ------------ Home page ------------ */
/* Stars section */
.stars-section__inner {
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
}
.stars-carousel-container {
    padding-top: 24px;
}
.stars-carousel__item-header {
    display: flex;
    align-items: center;
    background: var(--main-color);
    border-radius: 24px;
    color: white;
    padding: 6px;
    gap: 12px;
}
.stars-carousel__item-icon {
    display: flex;
    background: white;
    border-radius: 50%;
}
.stars-carousel__item-icon svg {
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    transform: translateY(2px);
}
.stars-carousel__item-text {
    margin: 20px 0 0;
}
.stars-carousel-container .owl-nav {
    position: absolute;
    top: calc(50% - 18px);
    justify-content: space-between;
    display: flex;
    left: -52px;
    right: -52px;
}
.stars-carousel-container .owl-nav button {
    display: flex;
    box-shadow: 0 3px 6px #0000003d;
    border-radius: 50%;
    background-color: white !important;
}
.stars-carousel-container .owl-nav button span {
    margin: 6px;
    font-size: 18px;
}

/* About us */
.about-us__inner {
    padding-top: 60px;
    padding-bottom: 50px;
    flex-direction: column;
    color: white;
}
.about-us__title {
    margin-bottom: 20px;
    color: white;
}

/* Corporate Culture */
.corporate-culture__inner {
    padding-top: 60px;
    padding-bottom: 50px;
}

/* Achevements section */
.achievements-section {
    background-color: var(--background-color);
}
.achievements-section__inner {
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
}
.achievements-carousel-container {
    padding-top: 24px;
}
.achievements-carousel__item {
    background-color: white;
    border-radius: 24px;
    padding-bottom: 8px;
}
.achievements-carousel__item-header {
    display: flex;
    align-items: center;
    background: var(--main-color);
    border-radius: 24px;
    color: white;
    padding: 6px;
    gap: 10px;
    margin-bottom: 8px;
}
.achievements-carousel__item-icon {
    display: flex;
    background: white;
    border-radius: 50%;
}
.achievements-carousel__item-icon svg {
    width: 38px;
    height: 38px;
    color: var(--text-color);
    transform: translateY(2px);
}
.achievements-carousel__item-image {
    height: 170px;
    margin: 0 8px;
    border-radius: 24px;
    object-fit: cover;
    width: calc(100% - 16px) !important;
}
.achievements-carousel-container .owl-nav {
    position: absolute;
    top: calc(50% - 18px);
    justify-content: space-between;
    display: flex;
    left: -52px;
    right: -52px;
}
.achievements-carousel-container .owl-nav button {
    display: flex;
    box-shadow: 0 3px 6px #0000003d;
    border-radius: 50%;
    background-color: white !important;
}
.achievements-carousel-container .owl-nav button span {
    margin: 6px;
    font-size: 18px;
}

/* Activity section */
.activity-section__inner {
    padding-top: 60px;
    padding-bottom: 50px;
    flex-direction: column;
    color: white;
}
.activity-section__title {
    margin-bottom: 20px;
    color: white;
}

/* Home Global */
.home__global {
    background-color: var(--background-color);
}
.home__global__inner {
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
}
.home-products__title {
    margin-bottom: 20px;
}
.home-products__categories-more-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}

/* Our Presence */
.our-presence {
    margin-top: 32px;
}
.our-presence__title {
    margin-bottom: 16px;
}
.our-presence__text {
    max-width: 665px;
}

/* Presence Globe */
.presence-globe {
    margin-top: 32px;
    position: relative;
}
.presence-globe__panel {
    padding: 48px 50% 48px 32px;
}
.presence-globe__cities {
    margin-bottom: 40px;
}
.presence-globe__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.presence-globe__button {
    padding: 0;
    background: transparent;
    border: none;
    font-weight: 300;
}
.presence-globe__image {
    position: absolute;
    top: -190px;
    left: 45%;
}
/* ------------ /end Home page ------------ */